<% provide(:title, "All issue") %>
<% if @project.issues.nil? %>

<% else %>
	<% @project.issues.each do |pr| %>
		<% assign = User.find(pr.assign_id) %>
		<% user = User.find(current_user.id) %>
		<div class="row">
			<div class="col-md-6">
				<p>Subject: <%= link_to pr.issue_name, "show_issue_create/#{pr.id}" %></p>
				Decription: <%= simple_format(pr.issue_decription) %><br/>
			</div>
			<div class="col-md-6">
				<% user = User.find(pr.user_id) %>
				<strong>Creator :</strong> <%= user.account %><br/>
				<strong>Assign:</strong> <%= assign.account %><br/>
			</div>
		</div>
		
		
		<br/>
		<br/>
	<% end %>
<% end %>